In [1]:
import pandas as pd        
import numpy as np        
import matplotlib.pyplot as plt  
import seaborn as sns      
import plotly.express as px 
# import folium    # Geospatial visualizations

In [ ]:
data_folder = "data"

json_files = [f for f in os.listdir(data_folder) if f.endswith(".json")]


for json_file in json_files:
    json_path = os.path.join(data_folder, json_file)
    
    
    with open(json_path, "r") as file:
        data = json.load(file)
    
    forex_data = data.get("Time Series FX (Daily)", {})
    
    df = pd.DataFrame.from_dict(forex_data, orient="index")
    df.index.name = "Date"
    
    df.columns = ["Open", "High", "Low", "Close"]
    df = df.astype(float)
    
    csv_filename = json_file.replace(".json", ".csv")
    csv_path = os.path.join(data_folder, csv_filename)
    
    df.to_csv(csv_path)
    
    print(f"Converted {json_file} to {csv_filename}")

print("All JSON files converted to CSV successfully!")

Converted historical_EUR_EGP.json to historical_EUR_EGP.csv
Converted historical_EUR_USD.json to historical_EUR_USD.csv
Converted historical_USD_EGP.json to historical_USD_EGP.csv
All JSON files converted to CSV successfully!

In [8]:
df.head()

             Open    High    Low  Close
Date
2025-03-07  50.63  50.640  50.63  50.63
2025-03-06  50.62  50.630  50.62  50.63
2025-03-05  50.58  50.700  50.53  50.62
2025-03-04  50.60  50.680  50.54  50.59
2025-03-03  50.60  50.661  50.54  50.60